.contacts-body__header__switch-input{
	height: 0;
	width: 0;
	visibility: hidden;
	&:checked + label {
		background: #bada55;
	}
	&:checked + label:after {
		left: calc(100% - 5px);
		transform: translateX(-100%);
	}
}
